<a href="https://colab.research.google.com/github/SanketSahane/Descion-Tree.ipynb/blob/main/Descion_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!ls

car_evaluation.csv  sample_data

In [3]:
!pwd

/content

In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("/content/car_evaluation.csv")
df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [6]:
col_name= [ "buying" ,      
   "maint" ,       
   "doors" ,       
   "persons"  ,    
   "lug_boot"  ,   
   "safety","classes" ]
col_name

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'classes']

In [7]:
df.columns =col_name

In [8]:
col_name= [ "buying" ,      
   "maint" ,       
   "doors" ,       
   "persons"  ,    
   "lug_boot"  ,   
   "safety","classes" ]
for col1 in col_name:
  print(df[col1].value_counts())

med      432
high     432
low      432
vhigh    431
Name: buying, dtype: int64
med      432
high     432
low      432
vhigh    431
Name: maint, dtype: int64
5more    432
4        432
3        432
2        431
Name: doors, dtype: int64
4       576
more    576
2       575
Name: persons, dtype: int64
med      576
big      576
small    575
Name: lug_boot, dtype: int64
med     576
high    576
low     575
Name: safety, dtype: int64
unacc    1209
acc       384
good       69
vgood      65
Name: classes, dtype: int64

In [9]:
x=df.drop(['classes'], axis=1)
x

     buying  maint  doors persons lug_boot safety
0     vhigh  vhigh      2       2    small    med
1     vhigh  vhigh      2       2    small   high
2     vhigh  vhigh      2       2      med    low
3     vhigh  vhigh      2       2      med    med
4     vhigh  vhigh      2       2      med   high
...     ...    ...    ...     ...      ...    ...
1722    low    low  5more    more      med    med
1723    low    low  5more    more      med   high
1724    low    low  5more    more      big    low
1725    low    low  5more    more      big    med
1726    low    low  5more    more      big   high

[1727 rows x 6 columns]

In [10]:
y=df['classes']
y.head(2)

0    unacc
1    unacc
Name: classes, dtype: object

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25, random_state=0)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
dcc= DecisionTreeClassifier()

In [15]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 431 kB/s
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0

In [16]:
import  category_encoders as ce

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [17]:
import  category_encoders as ce

In [18]:
x_test

     buying  maint  doors persons lug_boot safety
1318    low  vhigh      2    more      med   high
124   vhigh   high      2       4      big   high
648    high    med      2       2    small    med
249   vhigh    med      3       2      big    med
1598    low    med  5more       2      big    low
...     ...    ...    ...     ...      ...    ...
960     med  vhigh  5more       4      big    med
814    high    low      4       2      med   high
752    high    med  5more    more      big    low
744    high    med  5more       4      big    med
1070    med   high  5more    more    small    low

[432 rows x 6 columns]

In [21]:
encoder =ce.OrdinalEncoder(cols= [ "buying","maint","doors","persons" ,"lug_boot" ,"safety" ])
encoder

OrdinalEncoder(cols=['buying', 'maint', 'doors', 'persons', 'lug_boot',
                     'safety'])

In [20]:
x_train = encoder.fit_transform(x_train)
x_train

      buying  maint  doors  persons  lug_boot  safety
520        1      1      1        1         1       1
621        1      2      1        1         2       2
1017       2      2      2        2         2       2
1273       2      3      1        1         3       1
924        2      1      3        1         1       2
...      ...    ...    ...      ...       ...     ...
835        1      3      3        2         1       1
1216       2      3      2        1         2       1
1653       4      3      2        1         1       2
559        1      2      4        2         2       1
684        1      4      2        3         2       2

[1295 rows x 6 columns]

In [22]:
x_test = encoder.fit_transform(x_test)

In [23]:
x_test

      buying  maint  doors  persons  lug_boot  safety
1318       1      1      1        1         1       1
124        2      2      1        2         2       1
648        3      3      1        3         3       2
249        2      3      2        3         2       2
1598       1      3      3        3         2       3
...      ...    ...    ...      ...       ...     ...
960        4      1      3        2         2       2
814        3      4      4        3         1       1
752        3      3      3        1         2       3
744        3      3      3        2         2       2
1070       4      2      3        1         3       3

[432 rows x 6 columns]

In [24]:
dcc.fit(x_train,y_train)

DecisionTreeClassifier()

In [26]:

y_pred= dcc.predict(x_test)
y_pred

array(['unacc', 'acc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'vgood', 'vgood', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'acc',
       'acc', 'unacc', 'good', 'unacc', 'unacc', 'unacc', 'acc', 'acc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc',
       'unacc', 'unacc', 'good', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'good', 'unacc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'good', 'good', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'vgood', 'unacc',
       'unacc', 'good', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'acc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'good', 'unacc', 'acc', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'good', 'acc', 'acc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'acc', 'unacc', 'acc', 'good', 'unacc', 'acc', 'unacc', 'vgood',
       'unacc', 'unacc', 'unacc', 'acc', 'vgood', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'good',
       'acc', 'unacc', 'unacc', 'vgood', 'unacc', 'acc', 'unacc', 'unacc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'acc', 'acc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'vgood', 'vgood', 'unacc', 'vgood',
       'unacc', 'unacc', 'acc', 'unacc', 'vgood', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'acc', 'acc', 'good', 'vgood', 'unacc',
       'acc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc',
       'acc', 'good', 'acc', 'vgood', 'acc', 'acc', 'good', 'unacc',
       'acc', 'unacc', 'unacc', 'good', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'good', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc',
       'acc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'good', 'acc',
       'unacc', 'unacc', 'acc', 'unacc', 'good', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'acc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'acc', 'acc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'acc', 'vgood',
       'unacc', 'unacc', 'acc', 'acc', 'vgood', 'acc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc',
       'unacc', 'acc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc'], dtype=object)

In [27]:
from sklearn.metrics import accuracy_score

In [29]:

accuracy_score(y_test, y_pred)

0.5601851851851852

In [31]:
dcc = DecisionTreeClassifier(criterion='gini')
dcc

DecisionTreeClassifier()

In [32]:
dcc.fit(x_train,y_train)
y_pred= dcc.predict(x_test)
accuracy_score(y_test, y_pred)

0.5625

In [33]:
dcc = DecisionTreeClassifier(criterion='entropy')
dcc.fit(x_train,y_train)
y_pred= dcc.predict(x_test)
accuracy_score(y_test, y_pred)

0.5625

In [34]:
from sklearn.metrics import confusion_matrix

In [35]:
confusion_matrix(y_test,y_pred)

array([[ 25,   3,  64,   4],
       [  5,   0,  11,   2],
       [ 63,  11, 216,   8],
       [  4,   3,  11,   2]])